
<h3>{{restaurant.name}}</h3>
<h5>{{restaurant.Category.name}}</h5>

<hr/>

<ul class="list-group col-md-6">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    瀏覽次數
    <span class="badge badge-info badge-pill">{{restaurant.viewCount}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    評論數
    <span class="badge badge-info badge-pill">{{restaurant.Comments.length}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    收藏數
    <span class="badge badge-info badge-pill"></span>
  </li>
</ul>